/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    /* Override bootstrap properties */
    background-color: #ffffff	!important;
    border: 0 !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#container{
    margin: 0 auto;
    width: 1060px;
    min-height: 100%;
    background-color: transparent;
    border: 0;
}

#header{
	width: 1030px;
	height: 45px;
	background-color: #D7D6D2;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
	border-top: 3px solid #E00A22;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 45px;
	
}

.task-list {
	width: 250px;
	float: left;
	margin: 0 5px;
	background-color: #DBDAD7;
	min-height: 240px;
	border-radius: 5px;
	padding-bottom: 15px;
}

.task-list input, .task-list textarea {
	width: 240px;
	margin: 1px 5px;
}

.task-list input {
	height: 30px;
}

.todo-task {
	border-radius: 5px;
	background-color: #fff;
	width: 230px;
	margin: 5px;
	padding: 5px;
}

.task-list input[type="button"]{
	width: 100px;
	margin: 5px;
	
}

.todo-task > .task-header {
	font-weight: bold;
	color: #600;
}

.todo-task > .task-date{
	font-size: small;
	font-style: italic;
}

h3 {
	color: #600;
	text-align: center;
}

#delete-div {
	background-color: #fff;
	border: 3px dotted #600;
	margin: 10px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	border-radius: 10px;
}